*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}


header {
    height: 10vh;
    background-color: aqua;
    margin-bottom: 20px;
}

main {
    height: 80vh;
    display: flex;
    justify-content: center;

    & .title {
        font-size: 20px;
        margin-bottom: 20px;;
    }
}

footer {
    height: 10vh;
    background-color: blue;
    color: #fff;
}

h2{
    font-size: 14px;
}

.block{
    margin-bottom: 24px;
}